@font-face {
  font-family: "NorseBold";
  src: url("assets/Norse-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR STYLING */

.sidebar {
  background: no-repeat center/cover url("assets/samuel-arkwright-dTLLaxj2mWw-unsplash.jpg");

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.odin-title {
  font-family: "NorseBold";
  color: #fff;
  font-size: 6rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 50%);

  height: 150px;
  margin-top: 200px;

  padding: 10px 0;
}

.odin-img {
  width: auto;
  height: 125px;
}

.credits {
  text-align: center;
  color: #fff;
  margin-bottom: 2%;
}

.credits a {
  color: #fff;
}

/* MAIN SECTION */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 4;
  background-color: #eee;
}

.intro,
.form,
.create {
  padding-left: 50px;
}

.intro .italic {
  font-style: italic;
}

.form {
  background-color: #fff;
}

.form-wrapper {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.column input {
  margin-right: 50px;
}

.create-btn {
  background-color: #25292a;
  color: white;
  padding: 8px 30px;
  border: transparent solid 1px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 30px;
}

.login {
  font-weight: bold;
  color: #766868;
  text-decoration: none;
}